
*, *:before, *:after {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.layout {
    width: 800px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

.logo {
    display: block;
    margin: 1rem;
    width: 218.5px;
    height: 50px;
}
